body {
    background-image:url(./jap_bg.jfif)
}

h1, h2, p {
    padding-left:10px;
    border-color:rgb(0, 0, 0);
}

h1 {
    font-size: 2.5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h2 {
    letter-spacing:2px;
}

p {
    margin-bottom:1.3em;
    color:rgb(70, 70, 70)
}

#calc_prom {
    margin-bottom: 1.3em;
    border-width:3px;
    color:rgb(56, 56, 56);
}

input[type=number] {
    padding-left:10px;
    border-color:rgb(0, 0, 0);
}

#ecommerce {
    margin-left:25px;
}



